<!doctype html>
<html>

    <%- include('../res/header.ejs') %>

    <body>

        <%- include('../res/navbar.ejs') %>
        
        <div class="container bg-dark">
            <form action="/addBook" method="POST">
                <input type="text" name="id" placeholder="boookCode">
                <input type="text" name="name" placeholder="bookName">
                <input type="number" name="count" placeholder="bookCount">
                <a href="/" class="btn btn-primary">Cancel</a>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </body>
</html> 