<!doctype html>
<html>

    <%- include('../res/header.ejs') %>

    <body>

        <%- include('../res/navbar.ejs') %>
        
        <div class="container bg-dark">
            You have ... book </br>
            Time for back it: 
        </div>
    </body>
</html> 